@keyframes fadein {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	50% {
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
//Transition blinking
@keyframes fadeInOut {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeOnLoad {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
//Parallax
.animation-wrapper {
	position: relative;
}

.animation-wrapper[data-parallax] {
	transform: translate(0, 0);
	transition: transform 0.5s ease;
}

@keyframes rainbow-glow {
	0% {
		text-shadow: 0 0 10px rgb(71, 215, 255); /* Blue */
	}
	16% {
		text-shadow: 0 0 10px rgb(128, 102, 255); /* Indigo */
	}
	33% {
		text-shadow: 0 0 10px rgb(255, 139, 255); /* Violet/Pink */
	}
	50% {
		text-shadow: 0 0 10px rgb(255, 87, 87); /* Red */
	}
	66% {
		text-shadow: 0 0 10px rgb(253, 190, 74); /* Orange */
	}
	83% {
		text-shadow: 0 0 10px rgb(255, 247, 135); /* Yellow */
	}
	100% {
		text-shadow: 0 0 10px rgb(132, 250, 132); /* Green */
	}
}

@keyframes rainbow-glow-icon {
	0% {
		filter: drop-shadow(0 0 4px rgb(71, 215, 255));
	}
	16% {
		filter: drop-shadow(0 0 4px rgb(128, 102, 255));
	}
	33% {
		filter: drop-shadow(0 0 4px rgb(255, 139, 255));
	}
	50% {
		filter: drop-shadow(0 0 4px rgb(255, 87, 87));
	}
	66% {
		filter: drop-shadow(0 0 4px rgb(253, 190, 74));
	}
	83% {
		filter: drop-shadow(0 0 4px rgb(255, 247, 135));
	}
	100% {
		filter: drop-shadow(0 0 4px rgb(132, 250, 132));
	}
}
@keyframes rainbow-glow-button {
	0% {
		filter: drop-shadow(0 0 20px rgb(71, 215, 255));
	}
	16% {
		filter: drop-shadow(0 0 20px rgb(128, 102, 255));
	}
	33% {
		filter: drop-shadow(0 0 20px rgb(255, 139, 255));
	}
	50% {
		filter: drop-shadow(0 0 20px rgb(255, 87, 87));
	}
	66% {
		filter: drop-shadow(0 0 20px rgb(253, 190, 74));
	}
	83% {
		filter: drop-shadow(0 0 20px rgb(255, 247, 135));
	}
	100% {
		filter: drop-shadow(0 0 20px rgb(132, 250, 132));
	}
}
