:root {
	--deep-water: #000f14;
	--blue-fog: hsl(0, 0%, 67%);
	--lilly-green: #f0f0f0;
	--swamp-puppy: hsl(0, 0%, 18%);
	--murky-clouds: hsl(0, 0%, 90%);
	--dark-blue-fog: hsl(0, 0%, 22%);

	--background-color: #171717;
	--feature-1: hsl(0, 0%, 17%);
	--feature-influencers: hsl(199, 82%, 13%);
	--feature-2: hsl(191, 94%, 7%);
	--feature-3: hsl(278, 36%, 13%);

	--about-background: hsla(0, 0%, 40%, 0.1);
}
