---
layout: 'layouts/base.html'
title: 'Who We Are | In Queue’s Manifesto to Fuel Competitive Gaming'
description: 'Founded by esports veterans tired of corporate compromises, In Queue delivers authentic competition with community as the foundation of everything we do.'
---

<img class="header-image" src="/img/backgrounds/light.jpg" alt="" />

{% include "includes/about-intro.html" %} {% include "includes/values.html" %}
{% include "includes/showreel-overlay.html" %}

<script src="/app/js/showreel.js"></script>
