---
layout: 'layouts/base.html'
title: 'Who We Are | In Queue’s Commuitment to Fuel Community-First Competitive Gaming'
---

<img class="header-image" src="/img/backgrounds/light.jpg" alt="" />

<section class="about" id="about">
	{% include "includes/about-intro.html" %} {% include
	"includes/about-services.html" %}{% include "includes/about-values.html" %}
	{% include "includes/about-team.html" %}
</section>

{% include "includes/showreel-overlay.html" %}

<script src="/app/js/showreel.js"></script>
