---
layout: 'layouts/base.html'
title: 'In Queue Esports | Community-Powered Tournaments & Premium Productions'
---

<section class="hero" id="home">
	<div class="wrapper hero__wrapper">
		<div class="hero__gradient-overlay"></div>
		<video
			class="hero__background-video"
			autoplay
			loop
			muted
			playsinline
			poster="/img/backgrounds/inqueue-bg.webp	"
			data-parallax="-0.5"
		>
			<source
				src="https://tifajade.b-cdn.net/In%20Queue/website%20banner.webm"
				type="video/webm"
			/>
			<source
				src="https://tifajade.b-cdn.net/In%20Queue/website%20banner_h264_preview.mp4"
				type="video/mp4"
			/>
			Your browser does not support the video tag.
		</video>
	</div>
</section>
<section id="news">{% include "includes/news.html" %}</section>
{% include "includes/showreel-overlay.html" %}
<script src="/app/js/showreel.js"></script>
